/config/**
!/config/ms_backup_config_default.ps1

/logs/*.log
/logs/*.txt
ms_backup.diff.log

/mssql/**
!/mssql/mssql_config_default.ps1
!/mssql/mssql.ps1


/mysql/**
!/mysql/mysql_config_default.ps1
!/mysql/mysql.ps1


/tableau/*
!/tableau/tableau.ps1
!/tableau/tableau_config_default.ps1

#/tableau/local_backup/*
#!/tableau/local_backup/.gitkeep

ms_backup.full.log
del_tab_log.log
tab_log_delete.log
